*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #060044;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav > .logo {
    font-family: 'Nova Mono', 'Roboto';
    color:  white;
    font-size: 40px;
    margin-left: 5px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.search input{
    max-width: 400px;
    padding: 1rem;
    border-radius: 41px;
    border: none;
}

.btn {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.000001);
    border: none;
    cursor: pointer;
}
.search-icon {
    width: 72px;
    height: 72px;
}

.user {
    display: flex;
    justify-content: center;
    width: 65px;
    height: 64px;
    margin-right: 5px;
}


.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.resultats {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    gap: 12px;
}

.resultats button {
    --button_radius: 0.75em;
    --button_color: #fff;
    --button_outline_color: #000000;
    --shadow-color: rgba(6, 0, 68, 0.2);
    --highlight-color: rgba(6, 0, 68, 0.2);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: linear-gradient(
        to bottom right,
        var(--highlight-color),
        var(--shadow-color)
      );
    box-shadow: 0px 4px 4px var(--shadow-color),
      0px -4px 4px var(--highlight-color);
    cursor: pointer;
}
  
.resultats .button_top {
    display: block;
    box-sizing: border-box;
    border: px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
.resultats button:hover .button_top {
    transform: translateY(-0.33em);
}
  
.resultats button:active .button_top {
    transform: translateY(0);
}

.resultats .button_top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.resultats .button_top .container .left {
    padding: 20px;
}
  
.resultats .button_top .container .right {
    padding: 20px;
}
  
.resultats .button_top .container img {
    width: 100%;
    height: auto;
    border-radius: 85px;
}

footer {
    background-color: #060044;
    display: grid;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 200px;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul li {
    list-style: none;
    text-decoration: none;
}

.first-resultats a{
    line-height: 1.5;
}